/* Text CSS */
p {
  font-size: 1.2em;
  font-family: "KBQuietStories", Times, sans-serif;
  margin-bottom: 1em;
  padding: 0.1em;
}

h1, h2, li {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1em;
  padding: 0.1em;
}

#resume-header {
  padding: 1em;
  background-color: #333;
  border-radius: 1em;
  font-size: 2em;
  color: white;
}

/* Navigation CSS */
nav {
	background-color: #333; /*Background Color of nav bar */
	overflow: hidden; /* Remove default list style */
	margin: 0;
	padding: 0; 
}

nav ul {
	list-style-type: none; /* Make list items float left to create horizontal layout */
}

nav li {
	float: left; /* Make list items float left to create a horizontal layout */
}

nav li a {
	display: block;
	color: white; /* Text Color */
	text-align: center;
	padding: 14px 16px; /* Padding for each navigation item */
	text-decoration: none;
}

/* Change appearance of links on hover */
nav li a:hover {
	background-color: #ddd; /* Background color on hover */
	color: black; /* Text color on hover */
}

/* Resume Body CSS */
#about-info {
  background-image: url("../images/gradient_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex: 1;
}

#personal-and-contact p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#personal-and-contact h1, h2 {
	text-align: center;
	font-size: larger;
	font-weight: 700;
	text-decoration: underline;
}

#main-info {
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  margin: 0 auto;
  border: 0.1em solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1%;
}

#main-info h2 {
  font-size: large;
  font-weight: 600;
  text-decoration: underline;
}

#main-info ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
}

#main-info ol li {
  position: relative;
  right: 50%;
  font-size: large;
}

/* Resume Other section CSS */
#workhistory ol,
#certificates ol,
#awards ol,
#leadership ol,
#volunteerwork ol,
#skills ol,
#languages ol,
#hobbies_interests ol {
  list-style-type: circle;
}

ul li {
  font-size: small;
}

/* Index section styling */
#main-about {
	background-image: url("../images/tech_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	flex: 1;
}

#main-about h1, p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1em;
	font-family: "KBQuietStories", arial, sans-serif;
	background-color: white;
}


/* Centering the actual list under the headers */
#education ol,
#workhistory ol {
	list-style-postion: inside;
	padding: 0;
}

